[Unit]
Description=Dynamic DNS for AWS Route53
After=network.target

[Service]
Type=oneshot
User=root
Group=root
Environment=AWS_ACCESS_KEY_ID=xxxxxxxx
Environment=AWS_SECRET_ACCESS_KEY=xxxxxxxx
Environment=AWS_DEFAULT_REGION=us-east-1
WorkingDirectory=/path/to/project/route53-ddns
ExecStart=/path/to/project/route53-ddns/.venv/bin/python index.py -v
TimeoutSec=30

[Install]
WantedBy=multi-user.target